
* {
     box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

.navbar {
     display:flex;
     flex-direction: row;
     justify-content: space-around;
     list-style: none;
     padding: 0px;
     margin: 10;
}

ul a {
     /* border: solid; */
     background-color: #E8DCCB;
     border-radius: 25px;
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 5px;
     padding-bottom: 5px;
}

.navbar a {
     text-decoration: none;
     color: #3B2F2F;
     font-weight: 500;
     letter-spacing: 0.5px;
}

.navbar a:hover {
  color: #8C5E3C;
}

h1 {
     text-align: center;
}
h2, h3 {
     padding-left: 20px;
}

.abt, .exp, .edu, .msc-port {
     /* border: black solid 2px; */
     display: flex;
     flex-direction: column;
     width: 100%;
     border-radius: 25px;
     padding-bottom: 10px;
     margin: 2px;
}

ul {
     text-align: left;
     margin: 30px;
}

.row {
     display: flex;
     justify-content: flex-start;
     height: 400px;
}

.section {
     width: 50%;
     flex: 1;
}

.right {
     margin-left: auto;
}

.image-side {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 3px;
}

.image-side img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* border: #2B2B2B solid; */
     border-radius: 25px;
     margin: 3px;
}

.video-side {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2px;
}

.video-wrapper {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.video-wrapper iframe {
     width: 100%;
     height: 100%;
     border-radius: 25px;
}

/******************************************
/* SECTION BACKGROUND COLORS
/*******************************************/

body {
     background-color: #fff7e4;
}

.abt {
     background-color: #E8DCCB;
     color: #3B2F2F;
}

.exp {
     background-color: #D9B382;
     color: #2B2B2B;
}

.edu {
     background-color: #B7A99A;
     color: #2F2522;
}

.msc-port {
     background-color: #5A3E36;
     color: #F3EFE6;
}

/******************************************
/* MUSIC LINKS
/*******************************************/

.msc-row {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 0px;
}

.msc-item {
     display:flex;
     align-items: center;
     gap: 10px;
}

.icon {
     width: 20px;
     height: 20px;
     fill: #EFE6D8; 
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ANIMATIONS
/*******************************************/

.msc-port a:hover .icon {
     fill: #D9B382;  /* your vintage mustard */
     transition: 0.2s ease;
}